body {
    font-family: 'EB Garamond', serif;
    font-size: 1.35em;
    line-height: 1.3;
    margin: 0;
}

.front.container {
    width: 25em;
    margin: 0 auto;
}

a {
    color: blue;
    text-decoration: none;
}

ul {
    padding: 0;
}

ul ul {
    padding-left: 1.5em;
}

